<footer class="bg">
  <div class="footer-top">
    <div class="container">
      <div class="row footer-row">
        <div class="col-md-5 social-media">
          <img src="../../../assets/images/usta-ol-logo.png" alt="logo">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Bibendum est ultricies integer quis.</p>
          <div class="social-media-icons">
            <a href="!#">
              <fa-icon [icon]="faGoogle"></fa-icon>
            </a>
            <a href="#!">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </a>
            <a href="!#">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a href="!#">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a href="!#">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
          </div>
        </div>
        <div class="col-md-2 pages-link">
          <h3>Pages</h3>
          <ul>
            <li><a href="#!">Contact Us</a></li>
            <li><a href="#!">About Us</a></li>
            <li><a href="#!">Terms and Conditions</a></li>
            <li><a href="#!">Privacy and Policy</a></li>
            <li><a href="#!">Sale Agreement</a></li>
          </ul>
        </div>
        <div class="col-md-2 pages-link">
          <h3>Pages</h3>
          <ul>
            <li><a href="#!">Sign in</a></li>
            <li><a href="#!">Register</a></li>
            <li><a href="#!">Profile</a></li>
            <li><a href="#!">My Menu</a></li>
            <li><a href="#!">My Orders</a></li>
          </ul>
        </div>
        <div class="col-md-3 contact-link">
          <h3>Contact</h3>
          <ul>
            <li>
              <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              <a href="#!">
                <span>1048 Washington Avenue</span>
                <br>
                <span class="pl-3">Brooklyn, NY 11225</span>
              </a>
            </li>
            <li>
              <a href="#!">
                <fa-icon [icon]="faPhoneAlt"></fa-icon>
                <span>+ 1 3923 22 44 11</span>
                <br>
                <span class="pl-3"> Mon - Fri 9am - 5pm</span>
              </a>
            </li>
            <li>
              <a href="#!">
                <fa-icon [icon]="faAt"></fa-icon>
                <span>hello@example.com</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 designed-by">
          <p class="d-inline-block">® 2020 Designed by Kawsara</p>
          <p class="float-right d-inline-block">Made with fork and keyboard in Istanbul</p>
        </div>
      </div>
    </div>
  </div>
</footer>
