@import "../../../styles.scss";

.footer-top {
  border: solid 1px #b3b3b3;
  background-color: $background;

  .footer-row {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .social-media {
    p {
      margin-top: 20px;
      font-size: 13px;
      font-family: Nunito, sans-serif;
      line-height: 1.54;
      text-align: left;
      color: $text;
    }

    .social-media-icons {
      a {
        margin-right: 46px;
        font-size: 20px;
        line-height: 1.25;
        text-align: center;
      }
    }
  }

  .pages-link {
    h3 {
      font-family: SurveyorText, serif;
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      line-height: 0.72;
      color: $primary;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 24px;

      li {
        margin-bottom: 12px;

        a {
          font-family: Nunito, sans-serif;
          font-size: 13px;
          line-height: 1.54;
          letter-spacing: normal;
          text-align: left;
          color: $footer-text;
        }
      }
    }
  }

  .contact-link {

    h3 {
      font-family: SurveyorText, serif;
      font-size: 18px;
      font-weight: bold;
      font-style: italic;
      line-height: 0.72;
      color: $primary;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 24px;

      li {
        margin-bottom: 12px;

        a {
          font-family: Nunito, sans-serif;
          font-size: 13px;
          line-height: 1.54;
          letter-spacing: normal;
          text-align: left;
          color: $text;

          span {
            margin-left: 20px;
          }

        }

        fa-icon {
          color: $footer-text;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .pages-link {
      padding-top: 20px;
    }
    .social-media-icons {
      a {
        margin-right: 30px !important;
      }
    }
    .contact-link {
      ul {
        li {
          font-size: 11px !important;
        }
      }
    }
  }
}

.footer-bottom {
  background-color: $text;

  .designed-by {
    margin-top: 21px;
    font-family: Nunito, sans-serif;
    font-size: 13px;
    line-height: 1.31;
    text-align: left;
    color: #ffffff;
  }
}
