@import "../../../styles.scss";

.menu-item {
  padding-left: 0;
  padding-right: 0;

}

.menu-header-text {
  font-family: SurveyorText, serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  color: $text;
}

.menu-header {
  margin-top: 70px;
}

.btn-primary {
  border: solid 1px $primary !important;
  border-radius: 0 !important;
  background-color: white !important;
  color: $text !important;
  height: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.btn-group-toggle-last-item {
  border-radius: 0 4px 4px 0 !important;
}

.selected {
  background-color: $primary !important;
  border-radius: 4px !important;
  color: white !important;
  height: 68px !important;
  margin-top: -3px;
}

@media screen and (max-width: 425px) {
  .btn-primary {
    padding-right: 20px !important;
    padding-left: 20px !important;
    font-size: 13px !important;
  }
}
