<section class="bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>How It works?</h3>
      </div>
      <div class="col-md-12 parent">
        <div class="row">
          <div class="col-md-7 left-side-first-section pr-0 pl-0">
            <div>
              <img class="photo img-fluid" src="../../../assets/images/hiw-page/hiw2.png" alt="">
              <img class="path position-absolute" src="../../../assets/images/hiw-page/path-426.svg" alt="">
            </div>
          </div>
          <div class="col-md-5 left-side-first-section pt-5">
            <div class="right-side-header">
              <div class="ellipse">
                <p class="number">1.</p>
              </div>
              <h3 class="title pl-2">Create an Account</h3>
            </div>
            <div class="left-side-body">
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 parent">
        <div class="row">
          <div class="col-md-5 left-side  pt-5">
            <div class="left-side-header">
              <div class="ellipse">
                <p class="number">2.</p>
              </div>
              <h3 class="title pl-2">Become the chef</h3>
            </div>
            <div class="left-side-body">
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
            </div>
          </div>

          <div class="col-md-7 right-side pr-0">
            <div>
              <img class="path position-absolute" src="../../../assets/images/hiw-page/path.png" alt="">
              <img class="photo img-fluid" src="../../../assets/images/hiw-page/hiw2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 parent">
        <div class="row">
          <div class="col-md-7 left-side-first-section pr-0 pl-0">
            <div>
              <img class="photo img-fluid" src="../../../assets/images/hiw-page/hiw2.png" alt="">
              <img class="path position-absolute" src="../../../assets/images/hiw-page/path-426.svg" alt="">
            </div>
          </div>
          <div class="col-md-5 left-side-first-section  pt-5">
            <div class="right-side-header">
              <div class="ellipse">
                <p class="number">3.</p>
              </div>
              <h3 class="title pl-2">According to Your Choices</h3>
            </div>
            <div class="left-side-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur beatae eaque eos esse eveniet ipsum magnam minus nesciunt nulla odit perspiciatis quaerat quidem repellendus reprehenderit sequi, soluta ullam voluptate!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 parent">
        <div class="row">
          <div class="col-md-5 left-side  pt-5">
            <div class="left-side-header">
              <div class="ellipse">
                <p class="number">4.</p>
              </div>
              <h3 class="title pl-2">Choose Recipes Yourself</h3>
            </div>
            <div class="left-side-body">
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div class="mb-2">
                <fa-icon class="text-green" [icon]="faCheck"></fa-icon>
                <p class="d-inline-block ml-3">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
            </div>
          </div>

          <div class="col-md-7 right-side pr-0">
            <div>
              <img class="path position-absolute" src="../../../assets/images/hiw-page/path.png" alt="">
              <img class="photo img-fluid" src="../../../assets/images/hiw-page/hiw2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Relevant FAQ</h3>
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <app-faq
            [isExpanded]="true"
            title="Is this some sort of a decent question?"
            content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">
          </app-faq>
        </div>
        <div class="mb-4">
          <app-faq
            [isExpanded]="true"
            title="Is this some sort of a decent question?"
            content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">

          </app-faq>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <app-faq
            [isExpanded]="true"
            title="Is this some sort of a decent question?"
            content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">

          </app-faq>
        </div>
        <div class="mb-4">
          <app-faq class="mt-5"
                   [isExpanded]="true"
                   title="Is this some sort of a decent question?"
                   content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">
          </app-faq>
        </div>
      </div>
      <div class="col-md-12 d-flex justify-content-center mb-5">
        <a class="btn btn-primary view-all-faqs-btn" [routerLink]="['/faqs']">View All FAQs</a>
      </div>
    </div>
  </div>
</section>
