<section class="distribution-and-delivery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Distribution and Delivery</h3>
      </div>
      <div class="col-md-5 steps-left-section">
        <div class="steps-left-card">
          <div class="steps-images">
            <img class="img-fluid img-distrbution" src="../../../assets/images/distrbution/02.png" alt="">
            <img class="steps-svg img-fluid" src="../../../assets/images/distrbution/wave.svg" alt="">
          </div>
          <div class="steps-content">
            <h4>Our delivery times and days are:</h4>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
          </div>
        </div>
        <div class="steps-left-card">
          <div class="steps-images">
            <img class="img-fluid img-distrbution" src="../../../assets/images/distrbution/04.png" alt="">
            <img class="steps-svg img-fluid" src="../../../assets/images/distrbution/wave.svg" alt="">
          </div>
          <div class="steps-content">
            <h4>Create an Account</h4>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 steps">
        <div class="steps-line-div">
          <span>STEP</span>
          <h6 id="steps-number-1" class="steps-number">1</h6>
          <svg id="steps-line-1" class="line-bg" width="1" height="350" viewBox="0 0 1 350"
               preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
               aria-labelledby="a11y--id a11y--id-desc"><title id="a11y--id"></title>
            <desc id="a11y--id-desc"></desc>
            <line x1="0" y1="0" x2="0" y2="350" stroke="#bebebe" stroke-width="1" stroke-dasharray="6"></line>
          </svg>
        </div>
        <div class="steps-line-div">
          <span>STEP</span>
          <h6 id="steps-number-2" class="steps-number">2</h6>
          <svg id="steps-line-2" class="fela-xf2qy4 fela-1rtnddl" width="1" height="350" viewBox="0 0 1 350"
               preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
               aria-labelledby="a11y--id a11y--id-desc"><title id="a11y--id"></title>
            <desc id="a11y--id-desc"></desc>
            <line x1="0" y1="0" x2="0" y2="350" stroke="#bebebe" stroke-width="1" stroke-dasharray="6"></line>
          </svg>
        </div>
        <div class="steps-line-div">
          <span>STEP</span>
          <h6 id="steps-number-3" class="steps-number">3</h6>
          <svg id="steps-line-3" class="fela-xf2qy4 fela-1rtnddl" width="1" height="350" viewBox="0 0 1 350"
               preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
               aria-labelledby="a11y--id a11y--id-desc"><title id="a11y--id"></title>
            <desc id="a11y--id-desc"></desc>
            <line x1="0" y1="0" x2="0" y2="350" stroke="#bebebe" stroke-width="1" stroke-dasharray="6"></line>
          </svg>
        </div>
        <div class="steps-line-div">
          <span>STEP</span>
          <h6 id="steps-number-4" class="steps-number">4</h6>
        </div>
      </div>
      <div class="col-md-5">
        <div class="steps-card">
          <div class="steps-images">
            <img class="img-fluid img-distrbution" src="../../../assets/images/distrbution/01.png" alt="">
            <img class="steps-svg img-fluid" src="../../../assets/images/distrbution/wave.svg" alt="">
          </div>
          <div class="steps-content">
            <h4>Distribution regions</h4>
            <div>
              <!--              <fa-icon [icon]="faChecks"></fa-icon>-->
              <div>
                <fa-icon [icon]="faChecks"></fa-icon>
                <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div>
                <fa-icon [icon]="faChecks"></fa-icon>
                <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
              <div>
                <fa-icon [icon]="faChecks"></fa-icon>
                <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="steps-card">
          <div class="steps-images">
            <img class="img-fluid img-distrbution" src="../../../assets/images/distrbution/03.png" alt="">
            <img class="steps-svg img-fluid" src="../../../assets/images/distrbution/wave.svg" alt="">
          </div>
          <div class="steps-content">
            <h4>Don’t worry when you’re not home!</h4>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <p class="item-text">Lorem ipsum dolor sit amet ut magna aliquyam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Relevant FAQ</h3>
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <app-faq
            [isExpanded]="true"
            title="Is this some sort of a decent question?"
            content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">
          </app-faq>
        </div>
        <div class="mb-4">
          <app-faq
            [isExpanded]="true"
            title="Is this some sort of a decent question?"
            content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">

          </app-faq>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-5">
          <app-faq
            [isExpanded]="true"
            title="Is this some sort of a decent question?"
            content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">

          </app-faq>
        </div>
        <div class="mb-4">
          <app-faq class="mt-5"
                   [isExpanded]="true"
                   title="Is this some sort of a decent question?"
                   content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                  sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                  aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                  dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                   est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                   consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                  ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                  et accusam et justo duo dolores et ea rebum. Stet clita
                  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                 no sea takimata sanctus est Lorem ipsum dolor sit amet.">
          </app-faq>
        </div>
      </div>
      <div class="col-md-12">
        <a class="btn btn-primary view-all-faqs-btn" [routerLink]="['/faqs']">View All FAQs</a>
      </div>
    </div>
  </div>
</section>
