<section class="my-plan-management">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="plan-management-title">Meals Management</h3>
      </div>
      <div class="col-md-4">
        <div class="card your-meals">
          <div class="card-body">
            <h6>Your Meals:</h6>
            <div class="your-meal-content mt-4">
              <div class="">
                <img src="../../assets/images/menu-items/dish1.png" alt="" width="52" height="52">
              </div>
              <div class="">
                <span>Meal 1:</span>
                <p>Spicy Ginger Chicken Tacos</p>
              </div>
            </div>
            <div class="your-meal-content">
              <div class="">
                <img src="../../assets/images/menu-items/dish2.png" alt="" width="52" height="52">
              </div>
              <div class="">
                <span>Meal 2:</span>
                <p>Pork Roast & Balsamic-</p>
              </div>
            </div>
            <div class="your-meal-content">
              <div class="">
                <img src="../../assets/images/menu-items/dish3.png" alt="" width="52" height="52">
              </div>
              <div class="">
                <span>Meal 3:</span>
                <p>-</p>
              </div>
            </div>
            <div class="your-meal-list">
              <ul>
                <li>- Total of 681 kcal in your meals</li>
                <li>- Going all the way vegan</li>
                <li>- High protein selection</li>
              </ul>
            </div>
            <div class="d-block">
            <a class="btn btn-primary w-100" href="!#">Save</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 menu-item">
            <app-menu-item
              image="../../assets/images/menu-items/dish6.png"
              title="Chickpea-Powered Couscous"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/chicken-gray.svg"
              iconSpan="Chicken"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-6 menu-item">
            <app-menu-item
              image="../../assets/images/menu-items/dish6.png"
              title="Chickpea-Powered Couscous"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/chicken-gray.svg"
              iconSpan="Chicken"
              time="30 min"
            ></app-menu-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
