<section class="my-plan-management">
  <div class="container">
    <div class="row pb">
      <div class="col-md-12">
        <h3 class="plan-management-title">Meals Management</h3>
      </div>
      <div class="col-md-4">
        <div class="card your-meals">
          <div class="card-body">
            <h6 class="mb-4">Your Meals:</h6>
            <div *ngFor="let selectedMeal of selectedMeals;let selectedMealsIndex = index"
                 class="your-meal-content">
              <div class="">
                <img [src]="selectedMeal.image" alt="" width="52" height="52">
              </div>
              <div class="">
                <span>Meal {{selectedMealsIndex + 1}}:</span>
                <p>{{selectedMeal.title}}</p>
              </div>
            </div>
            <div class="your-meal-list">
              <ul>
                <li>- Total of 681 kcal in your meals</li>
                <li>- Going all the way vegan</li>
                <li>- High protein selection</li>
              </ul>
            </div>
            <div class="d-block">
              <a class="btn btn-primary w-100" href="!#">Save</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div *ngFor="let meal of meals"
               class="col-md-6 menu-item">
            <div class="menu-item-container mb-5 mt-3">
                <div class="d-flex justify-content-center menu-item-img" [ngClass]="{'selected': checkIfMealIsSelected(meal) }"
                   (click)="selectMeal(meal)">
                <img class="mb-0 meal-image" [src]="meal.image" alt="">
              </div>
              <div class="my-0 desc-container">
                <div class="title-and-desc">
                  <a href="">
                    <h3 class="my-0 slider-item-title meal-title">{{meal.title}}</h3>
                    <p class="mt-0 meal-desc">{{meal.description}}</p>
                  </a>
                </div>
                <div class="details">
                  <div class="float-left">
                    <img [src]="meal.type.icon" width="22" alt="">
                    <span class="single-detail-text">{{meal.type.name}}</span>
                  </div>
                  <div class="float-right">
                    <fa-icon [icon]="faClock"></fa-icon>
                    <span class="single-detail-text">{{meal.preparationPeriod}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
