<section class="how-subscription-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>How Subscription Works?</h3>
      </div>
      <div class="col-md-6 sm-margin">
        <div class="how-subscription-works-card">
          <h4>How Subscription Works?</h4>
          <div class="bg-curve"></div>
          <div class="how-subscription-works-content">
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <h6 class="d-inline-block">Lorem ipsum dolor sit amet ut magna aliquyam.</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 utLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 ut</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <h6 class="d-inline-block">Lorem ipsum dolor sit amet ut magna aliquyam.</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 utLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 ut</p>
            </div>
            <div class="">
              <fa-icon [icon]="faChecks"></fa-icon>
              <h6 class="d-inline-block">Lorem ipsum dolor sit amet ut magna aliquyam.</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 utLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 ut</p>
            </div>
          </div>
          <div class="pt-3"></div>
        </div>
      </div>
      <div class="col-md-6 sm-margin">
        <div class="how-subscription-works-card">
          <h4>How Subscription Works?</h4>
          <div class="bg-curve"></div>
          <div class="how-subscription-works-content">
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <h6 class="d-inline-block">Lorem ipsum dolor sit amet ut magna aliquyam.</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 utLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 ut</p>
            </div>
            <div>
              <fa-icon [icon]="faChecks"></fa-icon>
              <h6 class="d-inline-block">Lorem ipsum dolor sit amet ut magna aliquyam.</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 utLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 ut</p>
            </div>
            <div class="">
              <fa-icon [icon]="faChecks"></fa-icon>
              <h6 class="d-inline-block">Lorem ipsum dolor sit amet ut magna aliquyam.</h6>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 utLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                 ut</p>
            </div>
          </div>
          <div class="pt-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-cta
  title="Secure and Private"
  subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"
  url=""
  urlText="View Our Plans"
  imgUrl="../../../assets/images/how-subscription-works/secure-bg.png"></app-cta>
