<section class="my-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="my-menu-header">My Menu</h3>
        <div class="data bg-white">
          <h3 class="d-inline-block">27 April, Monday</h3>
          <div class="float-right">
            <a class="btn btn-outline-primary mr-3 skip-this-week-button" mat-button (click)="openDialog()">Skip this
                                                                                                            week</a>
            <a class="btn btn-primary" href="">Choose your Meals</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
        </div>
        <div class="data bg-white mt-5">
          <h3 class="d-inline-block">4 May, Monday</h3>
          <div class="float-right">
            <a class="btn btn-outline-primary mr-3 skip-this-week-button" mat-button (click)="openDialog()">Skip this week</a>
            <a class="btn btn-primary" href="">Choose your Meals</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <app-menu-item
              class="item"
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
        </div>
        <div class="data bg-white mt-5">
          <h3 class="d-inline-block">11 May, Monday</h3>
          <div class="float-right">
            <a class="btn btn-outline-primary mr-3 skip-this-week-button" mat-button (click)="openDialog()">Skip this week</a>
            <a class="btn btn-primary" href="">Choose your Meals</a>
          </div>
        </div>
        <div class="row last-row">
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
          <div class="col-md-4">
            <app-menu-item
              image="../../assets/images/menu-items/menu1.png"
              title="Spicy Ginger Chicken Tacos"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing"
              url="meal-show"
              alt=""
              icon="../../assets/icons/meat-gray.svg"
              iconSpan="Meat"
              time="30 min"
            ></app-menu-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-cta
    title="Cheap & Intiuative"
    subtitle="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor"
    url=""
    urlText="View Our Plans"
    imgUrl="../../../assets/images/how-subscription-works/secure-bg.png"></app-cta>
</section>
