@import "src/variables";

.text-green {
  color: $check;
}

.left-side {
  .left-side-header {
    display: flex;
    justify-content: left;
  }
  .left-side-body{
    margin-top: 40px;
  }
}

.right-side {
}

.path {
  height: 100%;
}

.parent {
  background: white;
}

.ellipse {
  width: 30px;
  height: 30px;
  background-color: $primary;
  border-radius: 50%;
  display: inline-block;
}

.number {
  font-family: Nunito, serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  color: #ffffff;
}

.title {
  font-family: SurveyorText, serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  text-align: left;
  color: $primary;
}
