<div class="parent my-5">
  <div class="container">
    <div class="row">
      <div class="col-5 left-side  pt-5">
        <div class="left-side-header">
          <div class="ellipse">
            <p class="number">{{number}}</p>
          </div>
          <h3 class="title pl-2">{{title}}f</h3>
        </div>
        <div class="left-side-body">
          <div class="mb-2">
            <fa-icon class="text-green" [icon]="icon"></fa-icon>
            <p class="d-inline-block ml-3">{{content}}</p>
          </div>
          <div class="mb-2">
            <fa-icon class="text-green" [icon]="icon"></fa-icon>
            <p class="d-inline-block ml-3">{{content}}</p>
          </div>
          <div class="mb-2">
            <fa-icon class="text-green" [icon]="icon"></fa-icon>
            <p class="d-inline-block ml-3">{{content}}</p>
          </div>
        </div>
      </div>

      <div class="col-7 right-side pr-0">
        <div>
          <img class="path position-absolute" src="../../../assets/images/hiw-page/path.png" alt="">
          <img class="photo img-fluid" src="../../../assets/images/hiw-page/hiw2.png" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
