@import "../../../styles.scss";

.menu-item-container {
  position: relative;
  width: 100%;
  height: 264px;

  a {
    text-decoration: none;
  }
}

.slider-item-image {
}

.slider-item-title {
  height: unset;
  line-height: 1.67;

  /*&:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 76%;
    right: 0;
    bottom: 0;
    left: 10px;
    height: 60%;
    z-index: -1;
    border-radius: 8px;
    top: -3px;
  }

  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 67%;
    right: 0;
    bottom: 0;
    left: 30%;
    height: 60%;
    z-index: -1;
    border-radius: 8px;
    top: 18px;
  }*/
}

.meal-title {
  font-family: SurveyorText, serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
  color: $primary;
}

.meal-desc {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  line-height: 1.67;
  color: $text-light;
}

.desc-container {
  margin-left: 20px;
}

.details {
  .float-right{
    padding-right: 30px!important;
  }
  .single-detail-text {
    display: inline;
    font-family: Nunito,serif;
    font-size: 15px;
    line-height: 1.67;
    color: $text;
    margin-left: 10px;
  }

  fa-icon {
    font-size: 15px;
    line-height: 1.67;
    color: $text-light;
  }
}

.title-and-desc {
}
@media screen and (max-width: 425px) {
  .meal-title{
      font-size: 21px;
  }
  .meal-desc{
    font-size: 14px;
  }
}
