<div class="menu-item-container mb-5 mt-3">
  <a href="{{url}}">
    <img class="mb-0 slider-item-image" src="{{image}}">
  </a>
  <div class="my-0 desc-container">
    <div class="title-and-desc">
      <a href="{{url}}">
        <h3 class="my-0 slider-item-title meal-title">{{title}}</h3>
        <p class="mt-0 meal-desc">{{description}}</p>
      </a>
    </div>
    <p class="fa fa-clock-o d-inline"></p>
    <p class="time d-inline">{{time}}</p>
  </div>
</div>

<!--  "../../assets/images/home-slider-1.png"-->
