<div class="menu-item-container mb-5 mt-3">
  <a href="{{url}}">
    <img class="mb-0 img-fluid" src="{{image}}" alt="{{alt}}">
  </a>
  <div class="my-0 desc-container">
    <div class="title-and-desc">
      <a href="{{url}}">
        <h3 class="my-0 slider-item-title meal-title">{{title}}</h3>
        <p class="mt-0 meal-desc">{{description}}</p>
      </a>
    </div>
    <div class="details">
      <div class="float-left">
        <img src="../../assets/icons/chicken-gray.svg" width="22" alt="{{alt}}">
        <span class="single-detail-text">Chicken</span>
      </div>
      <div class="float-right">
        <fa-icon [icon]="faClock"></fa-icon>
        <span class="single-detail-text">{{time}}</span>
      </div>
    </div>
  </div>
</div>
