<div class="plan-skip">
  <div class="plan-skip-title">
    <h3>Reason for skipping this week</h3>
    <hr>
  </div>
  <div class="plan-skip-content">
    <p>Can you please tell us why you would like to skip this week?</p>
    <label class="plan-skip-label">One
      <input type="radio" checked="checked" name="radio">
      <span class="radio-button"></span>
    </label>
    <label class="plan-skip-label">Two
      <input type="radio" name="radio">
      <span class="radio-button"></span>
    </label>
    <label class="plan-skip-label">Three
      <input type="radio" name="radio">
      <span class="radio-button"></span>
    </label>
    <label class="plan-skip-label">Four
      <input type="radio" name="radio">
      <span class="radio-button"></span>
    </label>

    <div class="col-md-12">
      <label for="pleaseSpecify">Please specify</label>
      <textarea class="specify-textarea" name="" id="pleaseSpecify" rows="5"></textarea>
    </div>
    <hr>
    <div class="float-right">
      <button class="btn btn-outline-primary mr-2" mat-button mat-dialog-close>Cancel</button>
      <button class="btn btn-primary submit-btn" type="submit">Save</button>
    </div>
  </div>
</div>
