<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-5 form-bg">
        <div>
          <h3>Welcome Back</h3>
          <p>We are happy to have you</p>
        </div>
        <form>
          <div class="form-group">
            <label for="loginEmail">E-mail address</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="jane@example.com">
          </div>
          <div class="form-group">
            <label for="loginPassword">Password <a href="">Forgot your password?</a></label>
            <input type="password" class="form-control" id="loginPassword">
          </div>
          <div class="pt-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="register-link" href="!#">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
