@import "src/variables";

h3 {
  font-family: SurveyorText, serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
}


h3 {
  margin-bottom: 70px;
}


.container-fluid {
  font-family: Nunito, serif;
  font-size: 13px;
  text-align: left;
  color: $text;

  &:hover {
    color: $text;
  }
}

.arrows-icon {
  padding-right: 10px;
  font-size: 10px;
  line-height: 2.5;
  text-align: left;
  color: $text;
}

.faq-answer {
  font-family: Nunito, serif;
  font-size: 13px;
  line-height: 1.54;
  text-align: left;
  color: $text;
}
