<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">
          {{title}}
        </button>
        <span class="arrows-icon">
          <fa-icon [icon]="icon"></fa-icon>
        </span>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      {{content}}
    </ng-template>
  </ngb-panel>
</ngb-accordion>
