@import "src/styles.scss";

.hero-background {
  background-image: url("../../../assets/images/hero-bg.png");
  width: auto;
  height: 687px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

p {
  height: 70px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: $text;
  font-family: Nunito;
}

h2 {
  font-family: SurveyorText;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $text;
}

h3 {
  font-family: SurveyorText;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
}

a {
  font-family: Nunito;
}

.hero-content {
  position: absolute;
  top: 32%;

  h3 {
    height: 42px;
    text-align: center;
    font-size: 35px;
  }
}

.play {
  width: 60px;
  height: 60px;
  border-radius: 28px;
  background-color: $primary;
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: center;

  &:before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    opacity: 0.2;
    border-radius: 100%;
    background-color: #e8213d;
    margin-top: -8px;
    margin-left: -7px;
  }
}

.play-icon {
  width: 16px;
  height: 19px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

.choose-meals {
  width: 250px;
  height: 50px;
  border-radius: 4px;
  margin: 30px auto;
  display: block;
  padding-top: 11px;
}

.how-it-works {
  height: 782px;
}

.meals-preview {
  display: grid;
  align-items: center;
  justify-items: center;

  img {
    margin: auto;
  }

  h2 {
    margin-bottom: 19px;
  }

  p {
    font-size: 18px;
  }
}

.how-it-works-btn {
  width: 185px;
  height: 40px;
  border-radius: 4px;
  margin: 20px auto;
  display: block;
}

.box {
  height: 806px;
}

.discount {
  height: 900px;
  background-color: $background;
}

.discount-background {
  margin-top: 100px;
}

.discount-content {
  position: relative;

  .discount-card {
    position: absolute;
    z-index: 1;
    width: 570px;
    height: 482px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 229px;

    .card-body {
      .discount-for-limited-time-only {
        width: 235px;
        height: 24px;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: $primary;
        text-decoration: underline;
      }

      h3 {
        text-align: start;
        font-weight: bold;
        line-height: 1.14;
        color: $text;
      }

      p {
        text-align: start;
        height: unset;
        margin-top: 29px;

        i {
          font-size: 18px;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: #3ea520;
        }
      }

      .discount-button {
        width: 510px;
        height: 40px;
        margin: 50px auto;
        display: block;
      }
    }
  }
}

.taste-in-pictures {
  height: 803px;

  h3 {
    margin-top: 100px;
  }
}

.slide-image {
  img {
    width: 370px !important;
  }

  &:before {
    content: "";
    background-color: #d6d6d6;
    position: absolute;
    width: 80%;
    right: 0;
    bottom: 0;
    left: 10px;
    height: 63%;
    z-index: -1;
    border-radius: 8px;
    top: 0;
    box-shadow: 1px 16px 16px 0 rgba(0, 0, 0, 0.16);
  }

  &:after {
    content: "";
    background-color: #d6d6d6;
    position: absolute;
    width: 65%;
    right: 0;
    bottom: 0;
    left: 32%;
    height: 64%;
    z-index: -1;
    border-radius: 8px;
    top: 18px;
  }
}

.slider-item-title {
  height: unset;
  line-height: 1.67;
}

.see-menu-btn {
  width: 185px;
  height: 40px;
  display: block;
  margin: 50px auto;
}

.gallery {
  height: 1352px;
  background-image: url("../../../assets/images/gallery-section-bg.png");
  background-color: $background;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  .gallery-content {
    margin-top: 100px;
  }

  .gallery-first-image {
    img {
      width: 554px;
      height: 578px;
      float: right;
    }
  }

  .gallery-standard-image {
    div {
      margin-bottom: 31px;
    }

    img {
      width: 270px;
      height: 274px;
    }
  }

  .gallery-last-image {
    img {
      width: 554px;
      height: 274px;
    }
  }

  .follow-us {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;

    a {
      color: $text;
      border-bottom: $text solid 2px;
      font-weight: bold;
    }
  }
}

.opinions-take-proud-of {
  height: 1006px;

  .opinions-take-proud-content {
    margin-top: 100px;
  }

  .opinions-take-proud-card-light {
    height: 270px;
    border-radius: 8px;
    box-shadow: 5px 9px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #7c8b9b;
    margin-left: 30px;
    margin-bottom: 50px;

    .card-body {
      p {
        margin: 32px 37px 70px 37px;
        color: #ffffff;
      }

      h2 {
        margin-right: 25px;
        text-align: right;
        color: #ffffff;
      }

      img {
        margin: -20px 7px;
        width: 85px;
        height: 85px;
        border-radius: 15px;
      }
    }
  }

  .opinions-take-proud-card-white {
    height: 270px;
    border-radius: 8px;
    box-shadow: 5px 9px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-left: 30px;
    margin-bottom: 50px;

    .fa-quote-right {
      font-size: 75px;
      position: absolute;
      right: 18px;
      color: #e8213d;
    }

    .fa-quote-left {
      font-size: 75px;
      position: absolute;
      top: -35px;
      left: 18px;
      color: $primary;
    }


    .card-body {
      p {
        margin: 32px 37px 70px 37px;
      }

      h2 {
        margin-right: 25px;
        text-align: right;
      }

      img {
        margin: -20px 7px;
        width: 85px;
        height: 85px;
        border-radius: 15px;
      }
    }
  }
}

.as-seen-in-media {
  height: 259px;
}

.cheap-intuitive {
  background-image: url("../../../assets/images/banner-cta.png");
  height: 436px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  .cheap-intuitive-content {
    margin-top: 100px;
    background-color: #ffffff;
    height: 236px;
    opacity: 0.9;
    border-radius: 2px;

    h3 {
      padding-top: 30px;
    }

    p {
      height: unset;
    }

    a {
      width: 185px;
      height: 50px;
      display: block;
      margin: auto;
    }
  }
}

.subscribe {
  height: 228px;

  .subscribe-content {
    margin-top: 50px;
  }

  h3 {
    margin-bottom: 10px;
    font-family: SurveyorText;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: $text;

  }

  p {
    height: unset;
    font-size: 13px;
  }

  .input-group {
    width: 535px;
    margin: auto;

    .input-group-append {
      button {
        width: 145px;
        background-color: $text !important;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;

      }
    }
  }
}




