@import "src/variables";

.hero {
  height: 90vh;
}

.hero-content {
  background-image: url("../../../assets/images/home-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
  padding-bottom: 42px;
  overflow: hidden;
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 35px;
  }

  .video-thumbnail {
    margin-bottom: 0;

    .play-btn {
      background: $primary;
      border-radius: 50%;
      line-height: 108px;
      animation: animate 2s linear infinite;
      cursor: pointer;
      width: 60px;
      height: 60px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &:before {
        content: "";
        position: absolute;
        width: 75px;
        height: 75px;
        opacity: 0.2;
        border-radius: 100%;
        background-color: $primary;
        margin-top: -8px;
        margin-left: -7px;
      }
    }

    .play-btn fa-icon {
      color: #ffffff;
      font-size: 20px;
      margin-left: 8px;
      position: absolute;
      top: 19px;
      left: 16px;
    }

    .play-icon {
      width: 16px;
      height: 19px;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.22;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      z-index: 10;
    }
  }
}

p {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: $text;
  font-family: Nunito, sans-serif;
}

h2 {
  font-family: SurveyorText, serif;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $text;
}

h3 {
  font-family: SurveyorText-Bold, serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: bold;
}

a {
  font-family: Nunito;
}


@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgb(232, 33, 61);
  }
  40% {
    box-shadow: 0 0 0 30px rgba(255, 193, 7, 0);
  }
  80% {
    box-shadow: 0 0 0 30px rgba(255, 193, 7, 0);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 193, 7, 0);
  }
}

.choose-meals {
  margin-top: 20px;
}

.meals-preview {
  display: grid;
  align-items: center;
  justify-items: center;

  img {
    margin: auto;
  }

  h2 {
    margin-bottom: 19px;
  }

  p {
    font-size: 18px;
  }
}

.how-it-works {
  margin-top: 60px;

  .how-it-works-btn {

  }
}


.box {
  padding-bottom: 90px;

  .box-image-animation {
    margin-bottom: 50px;

    .big-box {
      position: relative;
      z-index: 5;
      width: 40%;
    }

    .right-to-box-second {
      width: 13%;
      vertical-align: bottom;
    }

    .right-to-box-first {
      width: 17%;
      vertical-align: bottom;
    }

    .left-to-box {
      width: 30%;
    }

    .right-box {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.animation {
  transition: all 0.5s ease-in-out;
}
.discount {
  padding-bottom: 100px;
  background-color: $background;
}

.discount-background {
  margin-top: 100px;
}

.discount-content {
  position: relative;

  .discount-card {
    position: absolute;
    z-index: 1;
    width: 570px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 229px;

    .card-body {
      .discount-for-limited-time-only {
        width: 235px;
        height: 24px;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: $primary;
        text-decoration: underline;
      }

      h3 {
        text-align: start;
        font-weight: bold;
        line-height: 1.14;
        color: $text;
      }

      p {
        text-align: start;
        height: unset;
        margin-top: 29px;

        fa-icon {
          font-size: 18px;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: $check !important;
        }
      }

      .discount-button {
        margin-top: 30px;
        padding: 20px 40px;
        box-shadow: 1px 16px 16px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }
}

.taste-in-pictures {

  h3 {
    margin-top: 100px;
  }
}

.slide-image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 264px;
  width: 95%;
  border-radius: 8px;
  box-shadow: 1px 16px 16px 0 rgba(0, 0, 0, 0.16);
  background-position: center;

  /*&:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 80%;
    right: 0;
    bottom: 0;
    left: 10px;
    height: 63%;
    z-index: -1;
    border-radius: 8px;
    top: 0;
    box-shadow: 1px 16px 16px 0 rgba(0, 0, 0, 0.16);
  }*/

  /*&:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 65%;
    right: 0;
    bottom: 0;
    left: 32%;
    height: 64%;
    z-index: -1;
    border-radius: 8px;
    top: 18px;
  }*/
}

.slider-item-title {
  height: unset;
  line-height: 1.67;
}

.see-menu-btn {
  display: block;
  margin: 50px auto;
  padding: 13px 50px !important;
}

.gallery {
  height: 1352px;
  background-image: url("../../../assets/images/gallery-section-bg.png");
  background-color: $background;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  .gallery-content {
    margin-top: 100px;
  }

  .gallery-first-image {
    img {
      width: 100%;
      height: auto;
      float: right;
    }
  }

  .gallery-standard-image {
    div {
      margin-bottom: 31px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .gallery-last-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .follow-us {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;

    a {
      color: $text;
      border-bottom: $text solid 2px;
      font-weight: bold;
    }
  }
}

.opinions-take-proud-of {
  padding-bottom: 108px;

  .opinions-take-proud-content {
    margin-top: 100px;
  }

  .opinions-take-proud-card-light {
    border-radius: 8px;
    box-shadow: 5px 9px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #7c8b9b;
    margin-left: 30px;
    margin-bottom: 50px;

    .card-body {
      p {
        margin: 32px 37px 70px 37px;
        color: #ffffff;
      }

      h2 {
        margin-right: 25px;
        text-align: right;
        color: #ffffff;
      }

      img {
        margin: -35px 7px;
        width: 85px;
        height: 85px;
        border-radius: 15px;
        position: absolute;
      }
    }
  }

  .opinions-take-proud-card-white {
    border-radius: 8px;
    box-shadow: 5px 9px 40px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-left: 30px;
    margin-bottom: 50px;

    .quote-right {
      font-size: 75px;
      position: absolute;
      right: 18px;
      color: $primary;
      bottom: -27%;
    }

    .quote-left {
      font-size: 75px;
      position: absolute;
      top: -19%;
      left: 18px;
      color: $primary;
    }


    .card-body {
      p {
        margin: 32px 37px 70px 37px;
      }

      h2 {
        margin-right: 25px;
        text-align: right;
      }

      img {
        margin: -35px 7px;
        width: 85px;
        height: 85px;
        border-radius: 15px;
        position: absolute;
      }
    }
  }
}

.as-seen-in-media {
  padding-bottom: 70px;
}

.subscribe {
  height: 228px;

  .subscribe-content {
    margin-top: 50px;
  }

  h3 {
    margin-bottom: 10px;
    font-family: SurveyorText, serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: $text;

  }

  p {
    height: unset;
    font-size: 13px;
  }

  .input-group {
    width: 535px;
    margin: auto;

    .input-group-append {
      button {
        width: 145px;
        background-color: $text !important;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: italic;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;

      }
    }
  }
}

.broccoli {
  position: absolute;
  right: 0;
  top: -90px;
}

.sweet-paper {
  position: relative;

  img {
    position: absolute;
    right: 50px;
    top: -50px;
  }
}


.gallery-sweet-paper {
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    left: -95px;
  }
}

@media screen and (min-width: 768px) {
  .lg-none{
    display: none!important;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    height: auto !important;

    .gallery-row {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 425px) {
  .discount-card {
    width: 100% !important;
    height: auto !important;
    margin-top: 100px !important;
    position: unset !important;
  }
  .subscribe {
    .input-group {
      width: 100% !important;
      margin: auto !important;
    }
  }
  .gallery-row {
    margin-top: 35px !important;
  }
  .opinions-take-proud-card-white, .opinions-take-proud-card-light {
    margin-left: 0 !important;

    p {
      font-size: 15px;
    }

    img {
      margin: -10px 7px !important;
    }
  }
  .discount-background {
    display: none;
  }
  .discount-content {
    width: 96% !important;
  }
  .vegetables-sm {
    display: none;
  }
  .box {
    margin-top: 40px;
  }
  .discount-button {
    display: block;
  }
  .margin-sm {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .box-image-animation {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .opinions-take-proud-card-white, .opinions-take-proud-card-light {

    p {
      font-size: 14px;
      margin: 38px 0 0 0 !important;
    }

    h2 {
      font-size: 15px !important;
      margin-top: 73px;
    }
  }
}

.owl-arrows {
  position: relative !important;

  .arrow-left {
    position: absolute;
    left: -60px;
    bottom: 190px;
    background-color: unset !important;
    color: #808495 !important;
    font-size: 34px;
  }

  .arrow-right {
    position: absolute;
    right: -60px;
    bottom: 190px;
    background-color: unset !important;
    color: #808495 !important;
    font-size: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .owl-arrows {
    display: none;
  }
}


