<section class="map">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3" style="max-width: 670px;">
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="card-body">
                <h3 class="card-title">Hola amigos</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                     tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                     eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                                     takimata sanctus est Lorem ipsum</p>
                <div class="social-media-icons">
                  <a href="!#">
                    <fa-icon [icon]="faGoogle"></fa-icon>
                  </a>
                  <a href="#!">
                    <fa-icon [icon]="faFacebookF"></fa-icon>
                  </a>
                  <a href="!#">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                  </a>
                  <a href="!#">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                  </a>
                  <a href="!#">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card-body">
                <h3 class="card-title">Contact</h3>
                <ul class="info">
                  <li>
                    <span class="address">1048 Washington Avenue</span>
                    <span class="address d-block">Brooklyn, NY 11225</span>
                  </li>
                  <li>
                    <fa-icon [icon]="faPhoneAlt"></fa-icon>
                    <span class="phone-number">+ 1 3923 22 44 11</span>
                    <span class="d-block available-time">Mon - Fri 9am - 5pm</span>
                  </li>
                  <li>
                    <fa-icon [icon]="faPhoneAlt"></fa-icon>
                    <span class="phone-number">+ 1 3923 22 44 11</span>
                    <span class="d-block available-time">Mon - Fri 9am - 5pm</span>
                  </li>
                  <li>
                    <a href="#">
                      <fa-icon [icon]="faAt"></fa-icon>
                      <span class="email">hello@example.com</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-section">
          <h3>Drop us a line</h3>
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="input-full-name">Full name</label>
                <input type="text" class="form-control" id="input-full-name" placeholder="Full name">
              </div>
              <div class="form-group">
                <label for="input-email">Email address</label>
                <input type="email" class="form-control" id="input-email" aria-describedby="emailHelp"
                       placeholder="Email address">
              </div>
              <div class="form-group">
                <label for="select">Subject</label>
                <select class="form-control" id="select">
                  <option selected>Suggestion</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <label for="textarea">Message</label>
                <textarea class="form-control" id="textarea" rows="3"
                          placeholder="Placeholder"></textarea>
              </div>
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
