@import "src/styles.scss";


.meal-show {
  margin-top: 70px;

  .meal-image {
    a {
      position: absolute;
      right: 0;
      top: 16px;
      border-radius: 15px;
      border: solid 1px #e8213d;
      background-color: #f5f5f9;
      width: 82px;
      height: 30px;
      font-family: Nunito;
      font-size: 13px;
      line-height: 1.31;
      letter-spacing: normal;
    }
  }

  .meal-content {
    .meal-date {
      i {
        font-size: 15px;
        line-height: 1.67;
        text-align: left;
        color: $text-light;
      }

      p {
        font-family: Nunito;
        font-size: 15px;
        line-height: 1.67;
        text-align: left;
        color: $text;
      }
    }

    .meal-header {
      h2 {
        font-size: 35px;
        font-weight: bold;
        font-style: italic;
        line-height: 1.14;
        color: $primary;
        text-align: left;
      }

      p {
        font-size: 15px;
        line-height: 1.67;
        color: $text;
        text-align: left;
      }
    }
  }

}
