<section class="meal-show">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="meal-content">
          <div class="meal-date">
            <i class="fa fa-clock-o d-inline"></i>
            <p class="time d-inline ml-2">30 min</p>
          </div>
          <div class="meal-header">
            <h2>Classic Macaroni and Tomatoes</h2>
            <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV</p>
          </div>

        </div>
      </div>
      <div class="col-6 meal-image">
        <a class="btn btn-outline-primary" href="#">Chicken</a>
        <img src="../../../assets/images/meal-show.png" alt="">
      </div>
    </div>
  </div>
</section>
