<section class="edit-profile-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex profile-info">
          <div class="header-section">
            <img src="../../../assets/images/me-demo-day.png" alt="" class="rounded-circle">
            <span class="check-avatar-icon">
          <fa-icon class="text-white" [icon]="faChecks"></fa-icon>
          </span>
          </div>
          <div class="profile-name">
            <h6 class="mt-5">Merhaba, Jane Doe</h6>
            <p>email@example.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 m-auto text-md-right">
        <p class="m-auto text-right">Your next recurring order is on Friday 29th</p>
      </div>
    </div>
  </div>
</section>
<section class="edit-profile-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ngb-tabset class="edit-profile-menu" type="pills" [orientation]="currentOrientation">
          <ngb-tab>
            <ng-template ngbTabTitle>My Plan</ng-template>
            <ng-template ngbTabContent>
              <div class="col-md-12">
                <h3 class="title">My Plan</h3>
                <p class="paragraph-text mt-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                               eirmod tempor invidunt ut
                                               labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                                               accusam et justo duo dolores
                                               et ea rebum. Stet clita kasd gubergren, no sea
                </p>
              </div>
              <div class="row choose-plan">
                <div class="first-plan col-md-3" [ngClass]="{'selected': numberOfPeople == 2}"
                     (click)="numberOfPeople = 2">
                  <img  src="../../../assets/images/edit-profile/my-plan-1.png" alt="">
                  <p class="paragraph-text">2 People</p>
                </div>
                <div class="second-plan col-md-3" [ngClass]="{'selected': numberOfPeople == 3}"
                     (click)="numberOfPeople = 3">
                  <img  src="../../../assets/images/edit-profile/my-plan-2.png" alt="">
                  <p class="paragraph-text">3 People</p>
                </div>
              </div>
              <div class="row choose-plan-content">
                <div class="col-md-4">
                  <div class="card card-green">
                    <div class="card-header-image"></div>
                    <div class="card-1">
                      <img src="../../../assets/images/edit-profile/slad-3.svg  " alt="">
                      <h6>Vegi</h6>
                    </div>
                    <div class="card-body">
                      <p class="paragraph-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod temp</p>
                      <div class="recipes-per-week">
                        <div class="">
                          <form [formGroup]="checkboxGroupForm">
                            <div class="btn-group btn-group-toggle">
                              <label class="btn-green selected-green" ngbButtonLabel>
                                <input type="checkbox" formControlName="left" ngbButton>2
                              </label>
                              <label class="btn-green pagination-btn-green" ngbButtonLabel>
                                <input type="checkbox" formControlName="middle" ngbButton>3
                              </label>
                            </div>
                          </form>
                        </div>
                        <div class="recipes-per-week-text">
                          <p class="paragraph-text mb-0">recipes per week</p>
                          <span>(each serves 2)</span>
                        </div>
                      </div>
                      <div class="price">
                        <p class="paragraph-text">Price per recipe:</p>
                        <span>$ 45.00</span>
                        <p class="paragraph-text">Shipping price:</p>
                        <span>$ 0.00</span>
                        <br>
                        <p class="paragraph-text">Total:</p>
                        <span>$ 45.00</span>
                      </div>
                      <a class="btn btn-green d-block" href="">Selected</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-tangerine">
                    <div class="card-header-image"></div>
                    <div class="card-1">
                      <img src="../../../assets/images/edit-profile/slad-2.svg" alt="">
                      <h6>Vegi & Meat</h6>
                    </div>
                    <div class="card-body">
                      <p class="paragraph-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod temp</p>
                      <div class="recipes-per-week">
                        <div class="">
                          <form [formGroup]="checkboxGroupForm">
                            <div class="btn-group btn-group-toggle">
                              <label class="btn-tangerine selected-tangerine" ngbButtonLabel>
                                <input type="checkbox" formControlName="left" ngbButton>2
                              </label>
                              <label class="btn-tangerine pagination-btn-tangerine" ngbButtonLabel>
                                <input type="checkbox" formControlName="middle" ngbButton>3
                              </label>
                            </div>
                          </form>
                        </div>
                        <div class="recipes-per-week-text">
                          <p class="paragraph-text mb-0">recipes per week</p>
                          <span>(each serves 2)</span>
                        </div>
                      </div>
                      <div class="price">
                        <p class="paragraph-text">Price per recipe:</p>
                        <span>$ 45.00</span>
                        <p class="paragraph-text">Shipping price:</p>
                        <span>$ 0.00</span>
                        <br>
                        <p class="paragraph-text">Total:</p>
                        <span>$ 45.00</span>
                      </div>
                      <a class="btn btn-tangerine d-block" href="">Selected</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card card-primary">
                    <div class="card-header-image"></div>
                    <div class="card-1">
                      <img src="../../../assets/images/edit-profile/slad.svg" alt="">
                      <h6>Meat</h6>
                    </div>
                    <div class="card-body">
                      <p class="paragraph-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                                eirmod temp</p>
                      <div class="recipes-per-week">
                        <div class="">
                          <form [formGroup]="checkboxGroupForm">
                            <div class="btn-group btn-group-toggle">
                              <label class="btn-primary selected" ngbButtonLabel>
                                <input type="checkbox" formControlName="left" ngbButton>2
                              </label>
                              <label class="btn-primary pagination-btn" ngbButtonLabel>
                                <input type="checkbox" formControlName="middle" ngbButton>3
                              </label>
                            </div>
                          </form>
                        </div>
                        <div class="recipes-per-week-text">
                          <p class="paragraph-text mb-0">recipes per week</p>
                          <span>(each serves 2)</span>
                        </div>
                      </div>
                      <div class="price">
                        <p class="paragraph-text">Price per recipe:</p>
                        <span>$ 45.00</span>
                        <p class="paragraph-text">Shipping price:</p>
                        <span>$ 0.00</span>
                        <br>
                        <p class="paragraph-text">Total:</p>
                        <span>$ 45.00</span>
                      </div>
                      <a class="btn btn-primary d-block" href="">Selected</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <p class="paragraph-text mt-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                 nonumy
                                                 eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                                 diam
                                                 voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                 clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                                 amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                 nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
                                                 sed
                                                 diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                                 Stet
                                                 clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
                                                 amet.
                                                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                                 nonumy
                                                 eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
                                                 diam
                                                 voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                                                 clita kasd gubergren, no sea</p>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Edit Profile</ng-template>
            <ng-template ngbTabContent>
              <h3 class="title">Edit Profile</h3>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3 edit-profile-avatar">
                    <img src="../../../assets/images/me-demo-day.png" alt="" class="rounded-circle">
                  </div>
                  <div class="col-md-9 edit-image">
                    <a class="btn btn-outline-primary upload-image" href="#">
                      Upload New Picture
                    </a>
                    <a class="delete-image" href="#">
                      Delete
                    </a>
                  </div>
                  <div class="col-md-12 edit-form">
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="First">First</label>
                          <input type="text" class="form-control" id="First" placeholder="First">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="Last">Last</label>
                          <input type="text" class="form-control" id="Last" placeholder="Last">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="username">Username</label>
                          <input type="email" class="form-control" id="username" placeholder="username">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email-address">E-mail address</label>
                          <input type="email" class="form-control" id="email-address" placeholder="E-mail address">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary save-btn">save</button>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Security</ng-template>
            <ng-template ngbTabContent>
              <div class="security">
                <div class="col-md-12">
                  <h3 class="title">Security</h3>
                </div>
                <div class="col-md-7">
                  <form>
                    <div class="form-group">
                      <label for="current-password">Current Password</label>
                      <input type="password" class="form-control" id="current-password">
                    </div>
                    <div class="form-group">
                      <label for="new-password">New Password</label>
                      <input type="password" class="form-control" id="new-password">
                    </div>
                    <div class="form-group">
                      <label for="new-password-confirmation">New Password Confirmation</label>
                      <input type="password" class="form-control" id="new-password-confirmation">
                    </div>
                    <button type="submit" class="btn btn-primary save-btn">Save</button>
                  </form>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Payment</ng-template>
            <ng-template ngbTabContent>
              <div class="cards">
                <h3 class="title">Payment</h3>
                <div class="row">
                  <div class="col-md-4">
                    <div class="card bg-white card-number">
                      <p class="paragraph-text">**** **** **** 1213</p>
                      <fa-icon [icon]="faCcVisa"></fa-icon>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-white card-number">
                      <p class="paragraph-text">**** **** **** 1213</p>
                      <fa-icon [icon]="faCcMastercard"></fa-icon>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-white card-number">
                      <p class="paragraph-text">**** **** **** 1213</p>
                      <fa-icon [icon]="faCcAmex"></fa-icon>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-4 paragraph-text">Click on any card above to edit it, or add a new one, using the following
                                             form</p>
              <div class="card-info">
                <div class="row">
                  <div class="col-md-7">
                    <form>
                      <div class="form-group">
                        <label for="name-on-card">Name on card</label>
                        <input type="text" class="form-control" id="name-on-card" placeholder="Placeholder">
                      </div>
                      <div class="form-group">
                        <label for="card-number">Card number</label>
                        <input type="number" class="form-control" id="card-number" placeholder="Placeholder">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-8">
                          <label for="date">MM/YY</label>
                          <input type="text" class="form-control" id="date">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="ccv">CCV/CVC</label>
                          <input type="text" class="form-control" id="ccv">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary save-btn">Save</button>
                    </form>

                  </div>
                  <div class="col-md-5">
                    <div class="card-bg">
                      <div class="">
                        <div class="col-md-12 card-number">
                          <p>1234 &nbsp; 5678 &nbsp; 91011 &nbsp; 1213</p>
                          <span>01/02</span>
                        </div>
                        <div class="col-md-12 card-icon">
                          <fa-icon [icon]="faCcVisa"></fa-icon>
                          <p>John Doe</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>My Addresses</ng-template>
            <ng-template ngbTabContent>
              <div class="col-md-12">
                <h3 class="title">My Addresses</h3>
              </div>
              <div class="cards">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card bg-white card-number">
                      <p class="paragraph-text">Home</p>
                      <span>2020/01/19 12:55:59 AM</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-white card-number">
                      <p class="paragraph-text">Office</p>
                      <span>2020/01/19 12:55:59 AM</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-white card-number">
                      <p class="paragraph-text">John’s Home</p>
                      <span>2020/01/19 12:55:59 AM</span>
                    </div>
                  </div>
                </div>
              </div>
              <p class="mt-4 paragraph-text">Click on any card above to edit it, or add a new one, using the following
                                             form</p>
              <div class="address-form">
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="address-of">Address of</label>
                      <select id="address-of" class="form-control">
                        <option selected>Home</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="city">City</label>
                      <select id="city" class="form-control">
                        <option selected>City</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="region">Region</label>
                      <select id="region" class="form-control">
                        <option selected>Region</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="neighborhood">Neighborhood</label>
                      <select id="neighborhood" class="form-control">
                        <option selected>Neighborhood</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="street-name">Street name</label>
                      <input type="text" class="form-control" id="street-name" placeholder="Placeholder">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="building-number">Building number</label>
                      <input type="text" class="form-control" id="building-number" placeholder="Placeholder">
                    </div>
                    <div class="form-group col-md-4">
                      <label for=apartment-number>Apartment number</label>
                      <input type="text" class="form-control" id="apartment-number" placeholder="Placeholder">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pl-0">
                      <div class="form-group col-md-12">
                        <label for="phone">Phone number</label>
                        <input type="number" class="form-control" id="phone" placeholder="Placeholder">
                      </div>
                      <div class="form-group col-md-12">
                        <label for="alternative-number">Alternative phone number</label>
                        <input type="number" class="form-control" id="alternative-number" placeholder="Placeholder">
                        <small class="form-text text-muted">
                          This number will be used as a fallback number
                        </small>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="address-related">Other address related notes</label>
                      <textarea class="form-control" id="address-related" placeholder="Placeholder"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary save-btn mb-5">Save</button>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>My Orders</ng-template>
            <ng-template ngbTabContent>
              <div class="col-md-12">
                <h3 class="title">My Orders</h3>
              </div>
              <div class="my-orders">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Order</th>
                    <th scope="col">Recipe</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="">
                    <th scope="row">1</th>
                    <td>01313675</td>
                    <td>Lorem Ipsum</td>
                    <td>02/08/2020</td>
                    <td class="green-text">Delivered</td>
                  </tr>
                  <tr class="bg-white">
                    <th scope="row">2</th>
                    <td>01313675</td>
                    <td>Lorem Ipsum</td>
                    <td>02/08/2020</td>
                    <td class="green-text">Delivered</td>
                  </tr>
                  <tr class="">
                    <th scope="row">3</th>
                    <td>01313675</td>
                    <td>Lorem Ipsum</td>
                    <td>02/08/2020</td>
                    <td class="green-text">Delivered</td>
                  </tr>
                  <tr class="bg-white">
                    <th scope="row">4</th>
                    <td>01313675</td>
                    <td>Lorem Ipsum</td>
                    <td>02/08/2020</td>
                    <td class="pending-color">PENDING</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>01313675</td>
                    <td>Lorem Ipsum</td>
                    <td>02/08/2020</td>
                    <td class="green-text">Delivered</td>
                  </tr>
                  <tr class="bg-white">
                    <th scope="row">6</th>
                    <td>01313675</td>
                    <td>Lorem Ipsum</td>
                    <td>02/08/2020</td>
                    <td class="green-text">Delivered</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>
  </div>
</section>
