@import "variables";

.bg {
  background-color: #ffffff;
}

.btn-primary {
  border-radius: 4px !important;
  background-color: $primary !important;
  border: $primary !important;
  color: #ffffff !important;
  font-family: Nunito;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.btn-outline-primary {
  color: $primary;
  border-color: $primary;

  &:hover {
    color: #ffffff;
    background-color: $primary;
  }
}

.owl-nav {
  display: none !important;
}

.owl-dot {
  &.active {
    span {
      background-color: #e8213d !important;
    }
  }

  &:hover {
    span {
      background-color: #e8213d !important;
    }
  }
}

.accordion {
  .card-header {
    border-radius: 4px !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    border: solid 0.8px $text-light !important;
    background-color: #ffffff !important;
    padding: 2px 0 0 12px !important;
    margin-bottom: unset !important;

    .container-fluid {
      text-decoration: none !important;
    }
  }

  .card-body {
    font-family: Nunito, serif;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: left;
    color: $text;
  }
}


